{% extends "comments/base.html" %}
{% block content %}

<!-- video description card -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 d-flex align-items-stretch">
                <div class="card">
                    <img class="card-img" src="{{videoInfo.thumbnail}}" alt="Card image">
                </div>
            </div>

            <div class="col-sm-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{videoInfo.name}}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Channel Name : {{videoInfo.channelIdTitle}}</li>
                            <li class="list-group-item">Views : {{videoInfo.viewsCount}}</li>
                            <li class="list-group-item">Likes : {{videoInfo.likeCount}}</li>
                            <li class="list-group-item">Dislikes : {{videoInfo.dislikeCount}}</li>
                            <li class="list-group-item">Comments : {{videoInfo.commentCount}}</li>
                            <p>Description : {{ desc }}</p>
                        </ul>
                        <!-- <form class="pn-buttons" method="post"></form> -->
                            <!-- <form action="trial" method="POST" target="_blank">
                                <input type="submit" id="btn-form-submit"/>
                                </form>
                                <script>
                                    $('#btn-submit').click( function(){ $('#btn-form-submit').click(); } );
                             </script> -->

                            
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <center><h1 class="display-4">Comments</h1></center>
            </div>
        </div>
        
        <!-- comment buttons -->
        <div class='btn-group btn-group-justified'>
                <button name="pos_btn" class="pn_btn card_btn_n btn btn-primary-cus tm-btn-search btn-danger">Positive</button>
                
                <button name="neg_btn" class="pn_btn card_btn_n btn btn-primary-cus tm-btn-search btn-danger">Negative</button>
               
                <button name="like_count" class="pn_btn card_btn_n btn btn-primary-cus tm-btn-search btn-danger">Most Liked</button>
                
                <button name="replies_count" class="pn_btn card_btn_n btn btn-primary-cus tm-btn-search btn-danger">Most Replied</button>
        </div>
        <br>
        <div class='btn-group btn-group-justified'>

                <button name="sensitive" class="pn_btn card_btn_n btn btn-primary-cus tm-btn-search btn-danger">Sensitive Info</button>
            
                <button name="spam" class="pn_btn card_btn_n btn btn-primary-cus tm-btn-search btn-danger">Spam Comments</button>

                <div>
                <form action="{% url 'graph' %}" id="graph_form" method="POST" target="_blank" style="padding:0; margin:0 5px 20px 0">
                    <input type="hidden" name="btn_type" value="asdf" id="graph_hidden"/>
                    <input type="hidden" name="video_id" value="{{ vid_id }}" id="graph_hidden_id"/>
                    <input type="submit" name="graph" class="gph_btn card_btn_n btn btn-primary-cus tm-btn-search btn-danger" value="Trying graphs"/>
                </form>
                </div>

                <div>
                <form action="{% url 'trial' %}" id="trial_form" method="POST" target="_blank" style="padding:0; margin:0 5px 20px 0">
                    <input type="hidden" name="btn_type" value="asdf" id="trial_hidden"/>
                    <input type="hidden" name="video_id" value="{{ vid_id }}" id="trial_hidden_id"/>
                    <input type="submit" name="trial" class="topic_btn card_btn_n btn btn-primary-cus tm-btn-search btn-danger" value="Topic Modeling"/>
                </form>
                </div>

                <div>
                <form action="{% url 'hate' %}" id="hate_form" method="POST" target="_blank" style="padding:0; margin:0 5px 20px 0">
                    <input type="hidden" name="btn_type" value="asdf" id="hate_hidden"/>
                    <input type="hidden" name="video_id" value="{{ vid_id }}" id="hate_hidden_id"/>
                    <input type="submit" name="trial" class="hate_btn card_btn_n btn btn-primary-cus tm-btn-search btn-danger" value="Hate Speech"/>
                </form>
                </div>
        </div>

        <div class="comments_to_show">
            {% for comment in comments %}
                <div class="card comment_card">
                    <div class="card-header">
                        <p class="comment-head"><a class="author" href="{{ comment.author_channel_url }}">{{ comment.author }}</a>    ({{ comment.date }})  <span class="sentiment">Sentiment Score: {{ comment.sentiment_score }}</span></p>
                    </div>
                    <div class="card-body comment-body">
                    <blockquote class="blockquote mb-0">
                        <p class="comment-text">{{ comment.text }}</p>
                        <footer class="blockquote-footer">
                            <p class="comment-text">
                            <i class="fas fa-thumbs-up">: {{comment.like_count}}</i> | <i class="fas fa-reply">: {{ comment.replies_count }}</i>

                            {% if comment.isSpam %}
                            <span calss='spam' style="color: red; float: right;">
                                SPAM
                            </span>
                            {% endif %}
                            </p>
                        </footer>
                    </blockquote>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>

    <!-- parking the video id -->
    <script type="text/javascript">
        // var post_url = '/search_sent/'.concat("{{ vid_id }}").concat("/");
        // var post_url = '/search_sent/';
        {% comment %} var serializedData = $(this).serialize(); {% endcomment %}
        var pnbtn_pressed = 'neutral'
        $(document).ready(function () {
            $(".pn_btn").click(function () {
                pnbtn_pressed = this.name
                $.ajax({
                    type: "POST",
                    url: "{% url 'search_sent' %}",
                    data: {
                        'btn_pressed': pnbtn_pressed,
                        'video_id': "{{ vid_id }}"
                    },
                    success: function (response) {
                        $('.comments_to_show').html('')
                        // console.log(response['comments'])
                        var comments = response['comments']
                        comments = $.parseJSON(comments)
                        console.log(comments[0]['fields'])
                        // $('.comments_to_show').load(post_url);

                        for(comment of comments){
                            console.log(comment['fields'].text)
                            break
                        }

                        var cat_comments = ''
                        var spam_message = ''
                        for(comment of comments){
                                spam_message = ""
                                if (comment['fields'].isSpam){
                                    spam_message = '<span calss="spam" style="color: red; float: right;">' +
                                        'SPAM' +
                                    '</span>'
                                }

                                cat_comments += '<div class="card comment_card">' +
                                    '<div class="card-header">' +
                                        '<p class="comment-head"><a class="author" href=' + String(comment['fields'].author_channel_url) + ">" + String(comment['fields'].author) + "</a>" + String(comment['fields'].date) + '<span class="sentiment"> Sentiment Score: ' + String(comment['fields'].sentiment_score) + '</span></p>' + 
                                    '</div>' +
                                    '<div class="card-body comment-body">' +
                                        '<blockquote class="blockquote mb-0">' +
                                            '<p class="comment-text">' + String(comment['fields'].text) + '</p>' +
                                            '<footer class="blockquote-footer">' +
                                                '<p class="comment-text">' +
                                                    '<i class="fas fa-thumbs-up">:' + String(comment['fields'].like_count) + '</i> | <i class="fas fa-reply">:' + String(comment['fields'].replies_count) + '</i>' +
                                                    spam_message +
                                                '</p>' +
                                            '</footer>' +
                                        '</blockquote>' +
                                    '</div>' +
                                '</div>'
                        }
                        $(".comments_to_show").append(cat_comments)
                    }
                });
                return false; //<---- move it here
            });
            $(".gph_btn").click(function () {
                console.log(pnbtn_pressed);
                $("#graph_form").submit( function(eventObj) {
                    $("#graph_hidden").val(pnbtn_pressed)
                    console.log("inside");
                    return true;        
                }); 
            });
            $(".topic_btn").click(function () {
                console.log(pnbtn_pressed);
                $("#trial_form").submit( function(eventObj) {
                    $("#trial_hidden").val(pnbtn_pressed)
                    console.log("inside");
                    return true;        
                }); 
            });
            $(".hate_btn").click(function () {
                console.log(pnbtn_pressed);
                $("#hate_form").submit( function(eventObj) {
                    $("#hate_hidden").val(pnbtn_pressed)
                    console.log("inside");
                    return true;        
                }); 
            });
        });
    </script>

{% endblock content %}