{% extends "comments/base.html" %}
{% block content %}
    <div class="tm-section tm-bg-img" id="tm-section-1">
        <div class="tm-bg-white ie-container-width-fix-2">
            <div class="container ie-h-align-center-fix">
                <div class="row">
                    <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
                            <form action="search" method="POST" class="tm-search-form tm-section-pad-2">
                                {% csrf_token %}
                                <div class="form-row tm-search-form-row">
                                    <div class="col-12 form-group tm-form-element tm-form-element-100">
                                        <input class="form-control" type="text" name="vid_url" placeholder="Video URL">
                                    </div>
                                </div>
                                <div class="form-row tm-search-form-row">
                                    <div class="col-4 form-group tm-form-element tm-form-element-2">
                                        <button name="com_btn" id="get_com" class="btn btn-primary btn-primary-cus tm-btn-search">get comments</button>
                                    </div>
                                    <div class="col-4">
                                    </div>
                                    <div class="col-4 form-group tm-form-element tm-form-element-2">
                                        <button name="anal_btn" id="get_anal" class="btn btn-primary btn-primary-cus tm-btn-search">get analysis</button>
                                    </div>
                                </div>

                                <div class="container">
                                    {% if messages and show_message %}
                                    <ul class="message-notification">
                                       {% for message in messages %}
                                           <center><p><div class="alert alert-warning alert-dismissable">{{ message }}</p></center>
                                       {% endfor %}
                                    </ul>
                                    {% endif %}
                                    
                                </div>
                            </form>
                    </div>                        
                </div>      
            </div>
        </div>                  
    </div>
{% endblock content %}
